<mat-toolbar class="rtl">
    <span>ورود به سامانه</span>
  </mat-toolbar>
  <mat-card class="my-card">
   <form class="my-form" [formGroup]="signinForm" (ngSubmit)="loginUser()">
     <mat-card-content>
         <mat-form-field class="full-width">
            <mat-label>شماره تماس</mat-label>
            <div class="form-group">
            <input  matInput class="form-control" placeholder="شماره تماس" formControlName="username" required>
            </div>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>کد پیامکی</mat-label>
            <div class="form-group">
            <input matInput class="form-control" placeholder="کد پیامکی" formControlName="password">
         </div>
         </mat-form-field>
     </mat-card-content>
     <mat-card-actions>
        <!-- <button mat-raised-button type="button" color="primary" (click)="addUser()">ثبت نام جدید</button> -->
        <button mat-raised-button type="submit" color="primary" class="btn btn-block btn-primary">ورود و پیگیری</button>
     </mat-card-actions>
   </form>
  </mat-card>
