<mat-toolbar color="primary" class="rtl">
   <mat-toolbar-row>
     <!--  <span>HOME</span> -->
      <span><a href="/">صفحه اصلی</a></span>
      <span class="spacer"></span>
      <!-- <a *ngIf="this.authService.currentUser.isAgent" mat-button routerLink="/agent">معتمد</a> -->
      <!-- <a *ngIf="this.authService.isLoggedIn && this.authService.currentUser.isUser" mat-button routerLink="/register">ثبت نام</a> -->
      <a *ngIf="this.authService.isLoggedIn" mat-button routerLink="/members">ثبت نام شدگان</a>
      <a mat-button (click)="logInOut()" >{{ this.authService.isLoggedIn?'خروج':'ورود' }}</a>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet dir="rtl"></router-outlet>
<div *ngIf="(router.url==='/')" class="mainDiv" >
   
   <div style="text-align: justify; text-shadow: 0px 0px 3px white;">
      <p class="center">بسم الله الرحمن الرحیم<br>
      اللهم صل علی محمد و آل محمد و عجل فرجهم والعن اعدائهم اجمعین<br>
      السلام علیک یا اباعبدالله الحسین<br></p>
      
      <p>قبل از ذکر شرایط، لطفاً از ثبت نام خود در سامانه ی سماح <a data-cke-saved-href="https://samah.haj.ir" href="https://samah.haj.ir">https://samah.haj.ir</a> اطمینان حاصل فرمایید. توجه داشته باشید ثبت نام در سامانه ی سماح و ثبت نام در این سایت، دو مقوله ی جدا از هم می باشند. همچنین با توجه به نامعلوم بودن تعداد ظرفیت پذیرش زائر توسط کشور عراق؛ این احتمال وجود دارد که همه ی ثبت نام شدگان در سامانه ی سماح موفق به اخذ موافقت نامه ی قانونی جهت تشرف به عتبات عالیات نشوند و از بین ایشان قرعه کشی صورت پذیرد؛ با این توضیح مشخص شد که زائر برای اعزام قطعی به عتبات عالیات می بایست دو موافقت را اخذ نماید؛ یکی موافقت مراجع قانونی ( که احتمالاً از طریق سامانه سماح اطلاع رسانی میشود) و دیگری اتمام فرآیند ثبت نام در این سایت و اطلاع رسانی قطعی توسط سامانه به شخص منتخب.</p>
      <hr>
      <p>شرایط اعزام زائرین به زیارت عتبات عالیات در ایام اربعین به صورت زمینی:</p>
      <p>1- سفر به صورت زمینی انجام شود.<br>
      2- تزریق 2 دُز واکسن کرونا جهت تشرف به زیارت اربعین الزامی است، لذا اقدامات لازم را مبذول فرمایید.<br>
      3- فقط کسانی که استطاعت مالی برای سفر به کربلا را ندارند و اندوخته ای هم برای تأمین هزینه ی سفر به عتبات را ندارند و از طرفی تاکنون به زیارت آقا امام حسین علیه السلام مشرف نشده اند، اعزام می شوند.<br>
      4- چنانچه زائر توانایی تأمین بخشی از هزینه ها را دارد، شرعاً میبایست همان مقداری را که توانایی دارد، خودش بپردازد.<br>
      5- مصرف وجوه تقدیمی در غیر مسیر زیارت مدّنظر، شرعاً حرام است.<br>
      6- مستحضرید در ایام اربعین، به برکت آقا امام حسین علیه السلام، زائرین در عراق از اطعام و اسکان رایگان در موکب ها بهره میبرند؛ لذا زائر اربعین در عراق هزینه ای غیر از هزینه ی حمل و نقل ندارد<br>
      در ایران هم همینطور؛ از دورترین نقطه ی ایران هم که راه بیفتد نهایتاً ۳۰ ساعت بعد به مرز میرسد ان شاء الله؛ لذا با این توضیحات، بنا بر این است اگر خداوند متعال عنایت کندبه زائری که توانایی پرداخت هیچ مقدار از هزینه ی سفر را ندارد (و قصد سفر با خودروی شخصی خود را نیز ندارد )<br>
      هزینه ی کرایه ی اتوبوس رفت از محل سکونت زائر تا مرز عراق؛ و برگشت از مرز عراق تا محل سکونت زائر + مبلغ 50،000 دینار عراقی (یا معادل ریالی آن) بابت هزینه ی حمل و نقل داخل عراق (و در صورت نداشتن گذرنامه بعلاوه هزینه ی تدارک گذرنامه) به هر زائر منتخب تقدیم شود.به عنوان مثال، به زائری که میخواهد از مشهد مشرّف شود و گذرنامه هم نداردمبلغ ۳۸۰ هزار تومان بابت تدارک گذرنامه + ۴۸۰ هزار تومان بابت عزیمت از مشهد به آبادان و مرز شلمچه (یا مهران و مرز مهران) و ۴۸۰ هزار تومان بابت برگشت از مرز شلمچه (یا مهران و مرز مهران) به مشهد + ۱۰۰ هزار تومان بابت هزینه های احتمالی سفر داخل ایران + 50،000 دینار عراقی؛ تقدیم خواهد شد.<br>
      7- مبلغ 50،000 دینار عراقی (یا معادل ریالی آن) به همه ی زائران منتخب تقدیم خواهد شد و لیکن مبلغ تقدیمی بابت حمل و نقل داخل ایران متغیر و به مسافت محل سکونت زائر تا مرز عراق بستگی دارد.<br>
      8- زائرین عزیز نباید زمان سفر خود را به روزهای نزدیک به اربعین موکول کنند زیرا کرایه ها در روزهای نزدیک به اربعین، چند برابر میشود و با وجه تقدیمی ما، نمیتوان مشرّف شد.<br>
      لذا باید حدوداً دو هفته قبل از اربعین به عراق مشرف شوند و ظرف دو یا سه روز قبل از اربعین نیز برگشته و وارد ایران شوند.<br>
      9- وجه ریالی در ایران و به حساب افراد واریز میشود<br>
      و وجه دینار عراقی در یکی از دو مرز مهران یا شلمچه با هماهنگی قبلی، توسط عوامل ما به صورت نقدی به زائرین منتخب تقدیم خواهد شد.<br>
      به همین منظور عوامل ما از تاریخ جمعه ۱۱ شهریور ماه تا چهارشنبه ۱۶ شهریور ماه 1401 هجری شمسی در دو شهر مهران و آبادان، جهت تقدیم ارز مذکور مستقرّند و زائرین میبایست با مراجعه به ایشان و ارائه ی اصل گذرنامه و کپی رنگی از صفحه اول گذرنامه و امضای رسید، 50،000 دینار عراقی خود را دریافت کنند.<br>
      توجه:<br>
      دینارها فقط در بازه ی زمانی مذکور به زائرین عزیز تقدیم خواهد شد.<br>
      مجدداً عرض میشود زائرین منتخب میبایست حداقل دوهفته قبل از اربعین جهت سفر اقدام و در دو یا سه روز قبل از اربعین وارد ایران شوند تا بتوانند از خدمات مطلوب و ارزان تر ایام اربعین بهره ببرند؛ ان شاء الله.<br>
      همچنین ارز هر نفر فقط به شخص خود زائر تقدیم میشود؛ لذا حضور زائر جهت دریافت ارز الزامی است.<br>
      10- در صورت تشرف خانوادگی، اولاً به فرزند زیر ۴ سال به غیر از وجه تدارک گذرنامه (البته در صورت نداشتن گذرنامه) وجه دیگری تعلق نمیگیرد و ثانیاً وجوه تقدیمی ریالی به حساب سرپرست خانوار و لیکن وجوه دیناری در مرز و فقط با رؤیت نفرات خانواده به شخص زائر (یا سرپرست او) تقدیم میشود.<br>
      11- زائرین موظفند اگر وجهی (چه ریال ایران و چه دینار عراق) اضافه آوردند، به حسابی که اعلام میشود، عودت دهند.<br>
      12- اگر داوطلبی قصد جدّی برای این سفر را ندارد و می خواهد انصراف خود را در روزهای پایانی اعلام نماید، به جهت اینکه جای یک نفر دیگری را اِشغال کرده است، مدیون است.<br>
      13- چنانچه زائری قصد انصراف داشت، می بایست کلیه ی وجوه را به حساب اعلامی عودت دهد.<br>
      14- همه ی داوطلبین میبایست اولاً همه ی شرایط شخصی خود و شرایط زمانی سفر و سایر شرایط را به صورت کامل درنظر بگیرند و سپس اعلام آمادگی کنند<br>
      و ثانیاً در صورت منصرف شدن از سفر، انصراف خود را تا قبل از 10 مرداد ماه 1401 هجری شمسی اعلام کنند تا شخصی دیگر جایگزین شود؛ ان شاء الله.<br>
      15- چنانچه خدای ناکرده مرز زمینی بسته شد و یا به هر دلیلی امکان سفر فراهم نشد میبایست داوطلبان عزیز همه ی وجوه را عودت دهند.<br>
      16- حفظ شئونات اسلامی و مخصوصاًحجاب زائرین خواهر، بسیار بسیار ضروری است؛ لذا از پذیرش خواهرانی که حجاب اسلامی را به طور کامل رعایت نمی کنند، از چادر استفاده نمیکنند، با آرایش ولو آرایش خفیف رفت و آمد میکنند، و ... معذوریم.<br>
      17- خواهران زائر میبایست شرعاً متعهد شوند از حضور در ازدحامات و مکان های شلوغ (چه در عراق و چه در ایران و حتی مرز) و به طور کلی هرجا احتمال برخورد با نامحرم میرفت، اجتناب کنند.<br>
      18- از ثبت نام و اعزام خواهرانِ داوطلب زیر ۵۰ سال بدون همراهی یک نفر از محارمشان معذوریم.<br>
      19- چنانچه داوطلبی شرایط ما را در بدو امر قبول و رعایت کند ولی در طول سفر خود، رعایت نکند، خود را مدیون کرده است.<br>
      20- برنامه ای برای بیمه ی زائران عزیز نداریم. همچنین مسئولیت کامل سفر بر عهده ی شخص زائر است و متولّیان این امر، هیچگونه مسئولیتی در قبال این سفر نمیپذیرند.<br>
      21- از عدم ممنوع الخروجی خود و اجازه ی خروج از کشور خود اطمینان حاصل فرمایید.<br>
      22- مطابقت شماره تلفن همراه شخص متقاضی با کد ملی شخص متقاضی جهت دریافت کارت واکسن کرونا ضروری است.<br>
      23- شرایط فراهم شده توسط بانیان امر خیر، مهیا گشته و هیچگونه ارگان یا نهادی دست اندرکار این امر نمی باشد.</p>
      <a href="/assets/راهنمای هزینه ی حمل و نقل داخل عراق و برنامه ی پیشنهادی سفر.pdf">راهنمای هزینه ی حمل و نقل داخل عراق و برنامه ی پیشنهادی سفر</a>
      <br>
      <br>
      <br>
      <mat-checkbox class="example-margin" [(ngModel)]="agree"><p style="margin: 0px 4px 4px 0px;">همه ی شرایط را پذیرفته و موافقم</p></mat-checkbox>
      &nbsp;<button mat-raised-button color="primary" *ngIf="this.agree" (click)="goto()">ادامه</button>

      <br>
      <br>
      <p style="color:red">تلفن راهنما جهت پاسخگویی به سؤالات عزیزان:<br>جناب آقای علی اکبری<br>09154122871
         <br>آیدی تلگرام:<br><span style="direction: ltr;">arbaeen_128@</span></p>
   </div>
   
</div>