<mat-toolbar color="primary" class="rtl">
   <mat-toolbar-row>
     <!--  <span>HOME</span> -->
      <span><a href="/">صفحه اصلی</a></span>
      <span class="spacer"></span>
      <!-- <a *ngIf="this.authService.currentUser.isAgent" mat-button routerLink="/agent">معتمد</a> -->
      <a *ngIf="this.authService.isLoggedIn && this.authService.currentUser.isUser" mat-button routerLink="/register">ثبت نام</a>
      <a *ngIf="this.authService.isLoggedIn" mat-button routerLink="/members">ثبت نام شدگان</a>
      <a mat-button (click)="logInOut()" >{{ this.authService.isLoggedIn?'خروج':'ورود' }}</a>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet dir="rtl"></router-outlet>
<div *ngIf="(router.url==='/')" class="mainDiv" >
   <div style="text-shadow: -3px 2px 4px white;" >
      <p style="text-align:center">بسم الله الرحمن الرحیم</p>
      <p style="text-align:center">اللهم صل علی محمد و آل محمد و عجل فرجهم والعن اعدائهم اجمعین</p>
      <p style="text-align:right"><br><br></p><p style="text-align:right">متقاضی محترم</p>
      <p style="text-align:right">لطفاً:</p><p style="text-align:right">1-تا پایان فرم ثبت نام، به همه ی سؤالات با دقت و به صورت کامل پاسخ دهید.</p>
      <p style="text-align:right">2- چنانچه گذرنامه ندارید و یا دُز سوم واکسن کرونا را تزریق نکرده اید، تا تاریخ 17 تیر 1401 به شما فرصت داده می شود تا با مراجعه مجدّد به همین سایت و <u>گزینه ی ویرایش اطلاعات</u>؛ نسبت به بارگزاری:</p>
      <p style="text-align:right">الف) اطلاعات مربوط به گذرنامه ی خود</p>
      <p style="text-align:right">ب) دُز سوم واکسن کرونا</p>
      <p style="text-align:right">اقدام فرمایید؛ بدیهی است وارد نمودن سایر اطلاعات درخواستی فرم ثبت نام، هم اکنون ضروری است.</p>
      <p style="text-align:right">3- در پایان پس از وارد کردن همه ی اطلاعات درخواستی بعلاوه ی موارد مربوط به گذرنامه و کارت واکسن دُز سوم کرونا، و تأیید نهایی به <strong>شما کد رهگیری</strong> داده خواهد شد که نگهداری آن ضروری است.</p>
      <p style="margin-left:1.27cm; text-align:right">توجه: ارسال کد رهگیری هیچ حقی برای اعزام شخص متقاضی ایجاد نکرده و صرفاً پس از تأیید صحت اطلاعات متقاضی، جهت اعزام قطعی، به شما اطلاع رسانی خواهد شد.</p>
      <p style="text-align:right">ضمناً استثنائاً وجه تقدیمی بابت تدارک گذرنامه منوط به دریافت کد رهگیری <u>نمی باشد</u> و در صورت تأیید صحت اطلاعات وارد شده، فقط وجه مربوط به تدارک گذرنامه تقدیم خواهد شد.</p>
   </div>
   </div>